<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Personas</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Height</th>
          <th>Mass</th>
          <th>Hair Color</th>
          <th>Operación</th>
        </tr>
      </thead>
      <tbody>
        <% @num = 0 %>
        <% @nume = 1 %>
        <% @personas.each do |evento| %>
          <% if @num > 1 %>
            <% if !evento[1].nil? %>
              <% evento[1].each do |e| %>
              <tr>
                <td><%= e['name'] %></td>
                <td><%= e['height'] %></td>
                <td><%= e['mass'] %></td>
                <td><%= e['hair_color'] %></td>
                <td><%= link_to "Ver más", ver_mas_path(@nume) %></td>
              </tr>
              <% @nume +=1 %>
              <% end %>
            <% end %>
          <% end %>
          <% @num += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
