<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @persona.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @persona.height %>
</p>

<p>
  <strong>Mass:</strong>
  <%= @persona.mass %>
</p>

<p>
  <strong>Hair color:</strong>
  <%= @persona.hair_color %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
