<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Personas</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Height</th>
          <th>Mass</th>
          <th>Hair Color</th>
          <th>Skin Color</th>
          <th>Eye Color</th>
          <th>Birth Year</th>
          <th>Gender</th>
          <th>Homeworld</th>
          <th>Films</th>
          <th>Species</th>
          <th>Vehicles</th>
          <th>Starships</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @personas['name'] %></td>
          <td><%= @personas['height'] %></td>
          <td><%= @personas['mass'] %></td>
          <td><%= @personas['hair_color'] %></td>
          <td><%= @personas['skin_color'] %></td>
          <td><%= @personas['eye_color'] %></td>
          <td><%= @personas['birth_year'] %></td>
          <td><%= @personas['gender'] %></td>
          <td><%= @personas['homeworld'] %></td>
          <td><%= @personas['films'] %></td>
          <td><%= @personas['species'] %></td>
          <td><%= @personas['vehicles'] %></td>
          <td><%= @personas['starships'] %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h3><%= link_to "Atrás", personas_path %></h3>
  </div>
</div>
<br>
